#head{
	background-color: lightblue;
	text-align: center;
}

#left{
	background-color: pink;
	float: left;
	width: 20%;
	padding-right: 1%;
	border-right: 2px double black;
	height: 30em;
	overflow: auto;
}

#center{
	background-color: yellow;
	float: left;
	width: 56%;
	height: 30em;
	overflow: auto;
	
}

#right{
	background-color: lightgreen;
	float: left;
	width: 20%;
	padding-left: 1%;
	border-left: 2px double black;
	height: 30em;
	overflow: auto;
	
}

#footer{
	background-color: grey;
	text-align: center;
	clear: both;
	border-top: 3px double black;
	padding-bottom: 2%;
}
